<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Sobre</title>
</head>
<body>
    <header>
        <div class="logo">
          <img src="../Assets/logo.jpg" alt="Logo" >
        </div>
  
        <div class="menu">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./sobre.html">Sobre</a></li>
            <li><a href="./destinos.html">Destinos</a></li>
            <li><a href="./contato.html">Contato</a></li>
          </ul>
        </div>
  
        <div class="button">
          <button>
            <a href="#">Cadastre-se</a>
          </button>
        </div>
      </header>
    <main>

   
    <section id="sobre" class="sobre">
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>Na ExploraViagens, somos apaixonados por criar experiências inesquecíveis. Nossa equipe dedicada está aqui para ajudá-lo a planejar a viagem dos seus sonhos.</p>
            <p>Com mais de 10 anos de experiência no mercado, trabalhamos com os melhores parceiros para garantir conforto, segurança e diversão em todas as suas viagens. Oferecemos pacotes personalizados, suporte 24/7 e as melhores ofertas para destinos nacionais e internacionais.</p>
            <p>Deixe a ExploraViagens transformar sua próxima viagem em uma aventura memorável!</p>
        </div>
    </section>
</main>
</body>
</html>